<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Boolflix</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="./assets/css/style.css" />
    </head>
    <body>
        <div id="app">
            <header>
                <h1>BOOLFLIX</h1>
                <div class="right-content">
                    <div class="genre-selection" v-if="films">
                        <label for="filter">Filter results by genre</label>
                        <select
                            id="filter"
                            @change="filter(optionValue)"
                            v-model="optionValue"
                        >
                            <option value="All">All</option>
                            <option v-for="genre in options" :value="genre">
                                {{ genre }}
                            </option>
                        </select>
                    </div>
                    <div class="searchbar">
                        <input
                            @keydown.enter="search"
                            type="text"
                            placeholder="Search movies and series by title"
                            v-model="searchString"
                        />
                    </div>
                </div>
            </header>

            <main>
                <div class="films" v-if="films">
                    <div
                        class="film"
                        v-for="film in films"
                        :style="cardBg(film.poster_path)"
                    >
                        <div class="film-info">
                            <p class="original-title">
                                <span v-if="film.original_title"
                                    ><strong>Original Title:</strong> {{
                                    film.original_title }}</span
                                >
                                <span v-else
                                    ><strong>Original Title:</strong> {{
                                    film.original_name }}</span
                                >
                            </p>
                            <p class="title">
                                <span v-if="film.title"
                                    ><strong>Title:</strong> {{
                                    film.original_title }}</span
                                >
                                <span v-else
                                    ><strong>Title:</strong> {{ film.name
                                    }}</span
                                >
                            </p>
                            <p class="stars">
                                <strong>Rating:</strong>
                                <i
                                    v-for="n in getRate(film.vote_average)"
                                    class="fas fa-star"
                                ></i
                                ><i
                                    v-for="n in (5 - getRate(film.vote_average))"
                                    class="far fa-star"
                                ></i>
                            </p>
                            <p class="lang">
                                <strong>Language:</strong> {{
                                getFlag(film.original_language) }}
                            </p>
                            <p class="overview">
                                <strong>Overview:</strong>
                                {{ cutOverview(film.overview, 100) }}
                            </p>
                            <!-- cast -->
                            <p
                                class="cast"
                                v-if="film.cast && film.cast.length != 0"
                            >
                                <strong>Cast:</strong>
                                <span v-for="person in film.cast"
                                    >{{ person }}
                                </span>
                            </p>
                            <p class="cast" v-else>
                                <strong>Cast:</strong> not available
                            </p>
                            <!-- genres -->
                            <p
                                class="genres"
                                v-if="film.genre_names && film.genre_names.length != 0"
                            >
                                <strong>Genres:</strong>
                                <span v-for="genre in film.genre_names"
                                    >{{ genre }}
                                </span>
                            </p>
                            <p class="cast" v-else>
                                <strong>Genres:</strong> not available
                            </p>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <script src="./assets/js/main.js"></script>
    </body>
</html>
