* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #141414;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

i {
    margin: 0;
    color: orange;
}

h1 {
    color: red;
    font-weight: 300;
}

/* ! HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

input[type="text"] {
    font-size: 1.2rem;
    padding: 5px;
    outline: none;
    border: none;
}

/* ! MAIN */
main {
    padding-left: 20px;
}

.films {
    display: flex;
    overflow-x: scroll;
}

.film {
    box-sizing: content-box;
    flex-shrink: 0;
    width: 342px;
    height: 500px;
    cursor: pointer;
    margin: 50px 0;
    margin-right: 5px;
}
.film:hover .film-info {
    display: flex;
}

.film-info {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    display: none;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.film-info > *:not(:last-child) {
    margin-bottom: 10px;
}
